RewriteEngine On
RewriteBase /Kim/

# Redirecționează cererile care nu sunt pentru fișiere sau directoare existente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Trimite toate celelalte cereri către index.php
RewriteRule . index.php [L]